@import "inc/bootstrap";
@keyframes rota {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list-container {
  .container-content {
    .list-element {
      display: flex;
      width: 100%;

      &-delete-btn {
        font-size: 2em;
        cursor: pointer;
        margin-left: 4px;
      }

      &__input-container {
        flex: 1;

        &__uri {
          display: none;
          align-items: center;
          margin-top: 2px;
          margin-bottom: 10px;
          background: whiten($uiHeaderBg, .3);
        }
      }

      .title {
        color: $textColor;
        border: 1px #ccc solid;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        margin: 0;
        padding: 3px;

        ~ input {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border-left: none;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  .add-button-container {
    display: block;
    float: right;
    position: relative;

    .tooltip-container {
      width: 100%;
      height: 100%;
      position: absolute;
    }

    .tooltip-hidden {
      display: none;
    }

    .tooltipstered {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .edit-uri {
    display: flex;
    color: initial;
    font-family: $regularFont;
  }

  form {
    .section-container .content-block .data-container-wrapper & {
      background-color: $canvas;

      .data-container-footer {
        border-top: 0 !important;
      }
    }
  }
}

.container-content {
  .list-element {
    &__input-container {
      &__uri {
        .with-uri & {
          display: flex;
        }
      }
    }
  }
  .pagination-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    > span {
      color: #838383;
    }
    .icon-loop {
      display: inline-block;
      color: #3e7da7;
      font-size: 1.25rem;
      margin-right: 5px;
    }
    .rotate {
      animation: rota 4s linear infinite;
    }
  }
}

.create-list-wrapper {
  display: flex;

  #createList {
    background: none;
    border: 0;
    padding: 0;
  }

  .form-toolbar {
    margin: 10px 0 50px 0;
  }
}
